---
layout: default
title: Writing | Rômulo Machado
---

{% include header_writing.html %}

<section class='blogposts'>
  {% for post in site.posts %}
    <div class="blog-post">
      <h4 class="blog-post__title">
        <a class="blog-post__link" href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h4>
      <time datetime="{{post.date}}" class="blog-post__date">{{ post.date | date_to_string }}</time>
    </div>
  {% endfor %}
</section>

<ul class='links links--centered'>
  <li><a class='link' href='/'>home</a></li> •
  <li><a class='link' href='http://github.com/romulomachado' target='_blank'>github</a></li> •
  <li><a class='link' href='http://twitter.com/romulomachado_' target='_blank'>twitter</a></li>
</ul>
