<header id="main-header">
  <div class="wrapper">
    <nav class="header-nav header-actions">
      <a class="btn btn-mobile-nav mobile-nav-toggler">&nbsp;</a>
    </nav>
    <div class="clearfix"></div>
  </div>
</header>

<div class="mobile-nav-holder">
  <div class="wrapper">
    <a class="btn btn-mobile-nav mobile-nav-close">&nbsp;</a>
    <nav class="mobile-nav">
      <a href="/">Home</a>
      <a href="http://github.com/romulomachado">Github Profile</a>
      <a href="/contact.html">Contact</a>
    </nav>
  </div>
</div>
