<pre>
  <code class='code html-code'>
&lt;!doctype html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
  &lt;meta charset="utf-8"&gt;
  &lt;title&gt;A Cool Web Site&lt;/title&gt;
  &lt;meta name="description" content="A Cool Web Site"&gt;
  &lt;meta name="author" content="Rômulo Machado"&gt;
  &lt;link rel="stylesheet" href="css/styles.css?v=1.0"&gt;
  &lt;!--[if lt IE 9]&gt;
  &lt;script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"&gt;&lt;/script&gt;
  &lt;![endif]--&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;header&gt;
    &lt;nav&gt;
      &lt;ul&gt;
        &lt;li&gt;Menu option&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/nav&gt;
  &lt;/header&gt;
  &lt;section&gt;
    &lt;h1&gt;Cool section, bro!&lt;/h1&gt;
  &lt;/section&gt;
  &lt;footer&gt;
    &lt;p&gt;Copyright 2015 Rômulo Machado&lt;/p&gt;
  &lt;/footer&gt;
  &lt;script src="js/scripts.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
  </code>
</pre>
