@import url('normalize.css');

html {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  position: relative;
  z-index: 100;
  color: #333333;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  max-width: 76.25em;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

html, body, button {
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0;
}

h2 {
  font-weight: 300;
  font-size: 2.5em;
}

h3 {
  font-weight: 400;
  font-size: 1.75em;
}

h4 {
  font-weight: 300;
  font-size: 1.25em;
}

p {
  line-height: 140%;
  font-size: 1.2em;
}

body {
  background-color: #47b0e2;
  min-height: 100%;
  height: 100% !important;
  padding-top: 0 !important;
  overflow: hidden;
}

#main-header {
  height: 7em;
  width: 100%;
  padding-top: 1.7em;
  background: none;
  -webkit-transition: none 1s;
  -moz-webkit-transition: none 1s;
  -o-webkit-transition: none 1s;
  transition: none 1s;
}

#main-header nav {
  padding: 1.7rem 0 0 0;
  font-size: .9375em;
  float: right;
}

#main-header a {
  color: white;
  padding: 1rem .8rem;
  font-weight: 400;
}

.btn {
  font: 400 16px/120% "proxima-nova", sans-serif;
  border: none;
  background: none;
  text-align: center;
  min-width: 6.8em;
  letter-spacing: 0;
  display: inline-block;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.btn.btn-mobile-nav {
  width: 51px;
  padding: 15px 24px 16px;
  min-width: 0;
  -webkit-box-shadow: inset 0 0 0 1px white;
  -moz-box-shadow: inset 0 0 0 1px white;
  box-shadow: inset 0 0 0 1px white;
}

#main-header .btn {
  display: inline;
  margin: 0 2px 0 2px;
}

#main-header .btn.btn-mobile-nav.menu-opener {
  background: url(../images/icon_mobile-nav.svg) 50% 50% no-repeat;
  margin-left: .9em;
  width: 51px;
  padding: 15px 24px 16px;
  min-width: 0;
  -webkit-box-shadow: inset 0 0 0 1px white;
  -moz-box-shadow: inset 0 0 0 1px white;
  box-shadow: inset 0 0 0 1px white;
  display: inline;
}

.clearfix, .wrapper {
  zoom: 1;
}

.clearfix:before, .wrapper:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after, .wrapper:after {
  clear: both;
}

.menu {
  height: 100% !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 910;
  background: rgba(21, 149, 210, 0.9);
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-radial-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image: -moz-radial-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image: -o-radial-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-image: radial-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
}

.menu .wrapper {
  padding-top: 2.5em;
}

.menu .btn.btn-mobile-nav.menu-closer {
  background: url(../images/icon_close.svg) 50% 50% no-repeat;
  position: absolute;
  right: 12px;
  -webkit-box-shadow: inset 0 0 0 1px white;
  -moz-box-shadow: inset 0 0 0 1px white;
  box-shadow: inset 0 0 0 1px white;
  display: inline;
}

.menu-navigation {
  width: 100%;
  text-align: center;
  padding-top: 15%;
}

.menu-navigation a {
  display: block;
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 100%;
  padding: 1rem 0;
  color: white;
}

body.menu-open .menu {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

a, button {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  text-decoration: none;
  outline: 1px;
}

main {
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 0;
}

section.home, section.contact {
  width: 100%;
  height: 100%;
  position: relative;
}

.home header, .contact header {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 5em;
  text-align: center;
  line-height: 3.4em;
}

.home header h1, .contact header h1 {
  margin-top: 0;
  letter-spacing: -.05em;
  font-size: 5.40em;
  text-transform: uppercase;
  color: white;
}

.home header p, .contact header p {
  margin-top: 2.5rem;
  font-weight: 400;
  font-size: 2.5em;
  color: white;
}

.home header p .info {
  font-weight: 200;
  font-size: 0.75em;
  color: #F0F0F0;
  font-style: italic;
}

.home img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.home .elements {
  position: relative;
  width: 120em;
  left: 50%;
  margin-left: -60em;
  height: 100%;
}

.elements [class*="canvas-"] {
  position: absolute;
  z-index: 0;
}

.elements .canvas-coffee {
  bottom: 44%;
  left: 9%;
  width: 13.375em;
  height: 13.125em;
}

.elements .canvas-iphone {
  width: 8.25em;
  left: 22%;
  bottom: 15%;
}

.elements .canvas-macbook {
  width: 55em;
  left: 28%;
  top: 35%;
  z-index: 20;
}

.elements .canvas-notepad {
  bottom: -1%;
  right: 6%;
  width: 25%;
  z-index: 10;
  height: 30.3125em;
}

.elements .canvas-ipad {
  width: 45em;
  left: 63%;
  bottom: -3%;
  z-index: 10;
}

.contact a {
  color: #2980b9;
}

.contact p {
  padding-top: 3em;
}

@media screen and (max-width: 1600px) {
  .home header, .contact header {
    font-size: 90%;
    padding-top: 3em;
  }

  .home header p, .contact header p {
    margin: 1.5rem 0 0 0;
  }

  .home .elements {
    height: 98%;
    font-size: 90%;
  }
}

@media screen and (max-width: 1400px) {
  .home .elements {
    width: 120em;
    height: 96%;
    margin-left: -60em;
    font-size: 75%;
  }

  .home header, .contact header {
    font-size: 80%;
    padding-top: 2em;
  }

  .home header p, .contact header p {
    margin: 1.5rem 0 0 0;
  }
}

@media screen and (max-width: 1200px) {
  .home .elements {
    width: 130em;
    height: 94%;
    margin-left: -65em;
    font-size: 62%;
  }
}

@media screen and (max-width: 800px) {
  .home {
    background: url(/images/ipad-bg.png) bottom 10.5em center no-repeat;
    background-size: 100% auto;
  }

  .home, .contact {
    margin-top: 4em;
  }

  .home p .info {
    display: block;
  }

  .elements {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .home, .contact {
    margin-top: 0;
    background: none;
  }

  .home header h1, .contact header h1 {
    font-size: 4.5em;
    line-height: 90%;
  }

  .home header p, .contact header p {
    padding-bottom: 0px;
    font-size: 23px;
  }

  .menu .menu-navigation {
    margin-top: 2.5em;
  }

  .menu .menu-navigation a {
    display: block;
    font-size: 2em;
    padding: .2rem 0;
    line-height: 1.5em;
  }
}
