---
---

html
  height: 100%

body
  height: 100%
  font-family: 'Quattrocento Sans', sans-serif
  margin: 0
  color: #999

.container
  margin: 0 auto
  max-width: 940px
  position: relative
  height: 100%

.about-me
  display: flex
  flex-direction: column
  justify-content: center
  height: 100%
  font-weight: 100
  line-height: 1.3

h1, h2, h3,
h4, h5, h6
  line-height: 1.15em

h1
  font-size: 2.8rem
  letter-spacing: -1px

h2
  font-size: 2.5rem
  letter-spacing: -1px

h3
  font-size: 2.3rem

h4
  font-size: 2rem

h5
  font-size: 1.8rem

h6
  font-size: 1.5rem

.name, .links
  margin: 0.8rem 0

.name
  font-size: 1.3rem
  text-transform: uppercase
  padding: 0

.work
  margin: 0
  font-size: 2.8rem

  .job-title
    font-weight: 700
    color: #000

  a
    text-decoration: none
    font-weight: 700
    color: #ff223e
    padding: 0 3px

    &:hover
      background-color: #ff223e
      color: #fff

.links
  padding: 0
  list-style-type: none
  font-size: 1.3rem

  li
    display: inline
    text-transform: uppercase

    a
      color: #999
      font-weight: 700
      text-decoration: none
      padding: 0 3px

      &:hover
        background-color: #999
        color: #fff
