---
---

$sans-family: 'Montserrat', Helvetica, Arial, sans-serif

*
  padding: 0
  margin: 0

  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

main
  width: 80%
  margin: 0 auto
  padding: 80px 0
  display: block

.glasses
  max-width: 25%
  display: block
  margin: 0 auto
  margin-bottom: 7em

h1
  font-family: $sans-family
  text-align: center
  font-size: 4em
  font-weight: 600

  margin-bottom: 0.5em

p
  font-family: 'Open Sans'
  font-size: 1.5em
  font-weight: 300
  text-align: center

  margin-bottom: 2.5em

.links
  list-style-type: none
  display: -webkit-flex
  display: flex
  width: 200px
  margin: 0 auto

  li
    width: 33.3333%
    text-align: center

  img
    max-width: 40px

@media only screen and (max-width: 415px)
  main
    padding-top: 40px

  .glasses
    max-width: 80%
    margin-bottom: 3em

  h1
    font-size: 2.8em

  p
    font-size: 1.3em
    margin-bottom: 1.5em

@media only screen and (min-width: 415px) and (max-width: 516px)
  .glasses
    max-width: 60%

@media only screen and (min-width: 516px) and (max-width: 700px)
  main
    padding-top: 20px

  .glasses
    max-width: 40%
    margin-bottom: 2.5em

  h1
    font-size: 2.8em
    margin-bottom: 0.3em

  p
    font-size: 1.3em
    margin-bottom: 1.5em
@media only screen and (min-width: 701px) and (max-width: 1024px)
  main
    padding-top: 80px

  .glasses
    max-width: 40%
    margin-bottom: 10em

  h1
    font-size: 4em

  p
    margin-bottom: 2em
