<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    {{ content }}

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/script.js"></script>
    <script src="/javascripts/analytics.js"></script>
  </body>
</html>
