<!doctype html>
<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/stylesheets/syntax.css">
  </head>
  <body>
    <section class="container">
      {% include header.html %}
      <h1 class="post__title">{{ page.title }}</h1>
      <time datetime="{{page.date}}" class="post__date">{{ page.date | date_to_string }}</time>

      {{ content }}
    </section>

    <div class="container">
      <p class="share-this">Share this post on <a href='https://twitter.com/intent/tweet?text={{ page.title }}&url={{site.url}}{{page.url}}&via=romulomachado_' target='_blank'>Twitter</a> or find another one to read <a href="/writing.html">here</a>.</p>

      <h2>Comments</h2>

      {% if page.comments %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + '{{site.disqus_shortname}}' + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      {% endif %}
    </div>

    <script src="/javascripts/analytics.js"></script>
  </body>
</html>
