<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <section class="container">
      {% include header.html %}
      <h1 class="post__title">{{ page.title }}</h1>
      <small><time datetime="{{page.date}}" class="post__date">{{ page.date | date_to_string }}</time></small>

      {{ content }}
    </section>

    <div class="post__footer">
      <p>Share this post on <a href='https://twitter.com/intent/tweet?text={{ page.title }}&url={{site.url}}{{page.url}}&via=romulomachado_' target='_blank'>Twitter</a> or find another one to read <a href="/writing.html">here</a>.</p>
    </div>

    <script src="/javascripts/analytics.js"></script>
  </body>
</html>
